<div class="card-container col-md-6">
  <h1 class="sample-content col-md-6">User List</h1>
  <h1 class="sample-content col-md-6">Create User</h1>

  <hr class="col-md-12">

  <div class="col-md-6">
    <div *ngFor="let user of users" (click)="goToUser(user)" class="user">
      <h4>
        {{user.name}}
        <small>{{user.number}}</small>
        <small>
          <em>{{user.email}}</em>
        </small>
      </h4>
    </div>
  </div>


  <div class="col-md-6">
    <form *ngIf="formActive" novalidate (ngSubmit)="createUser(newUser)" #userForm="ngForm" >
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" required pattern="[a-zA-Z]+"
               [(ngModel)]="newUser.name" placeholder="Name"
               name="name"  #name="ngModel" >
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Correct name is required
        </div>
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="email" [(ngModel)]="newUser.email" placeholder="Em@il" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               class="form-control" required name="email" #email="ngModel"/>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Correct email is required
        </div>
      </div>

      <div class="form-group">
        <label>Number:</label>
        <input type="number" [(ngModel)]="newUser.number" placeholder="Numb3r"
               class="form-control" required name="number" #number="ngModel" />
        <div [hidden]="number.valid || number.pristine" class="alert alert-danger">
          Correct number is required
        </div>
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!userForm.form.valid">Create User</button>
    </form>
  </div>

  <hr class="col-md-12">

</div>
