<div *ngIf="user">
  <h2>{{user.name}} details!</h2>
  <div>
    <code>_id: {{user._id}}</code>
  </div>

  <div class="col-md-3">
    <form *ngIf="!active" novalidate (ngSubmit)="saveUser(user)" #userForm="ngForm" >
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" required pattern="[a-zA-Z]+"
               [(ngModel)]="user.name" placeholder="Name"
               name="name"  #name="ngModel" >
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Correct name is required
        </div>
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="email" [(ngModel)]="user.email" placeholder="Em@il" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               class="form-control" required name="email" #email="ngModel"/>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Correct email is required
        </div>
      </div>

      <div class="form-group">
        <label>Number:</label>
        <input type="number" [(ngModel)]="user.number" placeholder="Numb3r"
               class="form-control" required name="number" #number="ngModel" />
        <div [hidden]="number.valid || number.pristine" class="alert alert-danger">
          Correct number is required
        </div>
      </div>

      <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Save User</button>
      <button type="button" class="btn btn-danger" (click)="deleteUser(user._id)">Delete User</button>
    </form>
  </div>
</div>
